* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/cityscape-5057263_1280.png");
    background-repeat: repeat;
}


header {
    width: 100%;
    background: rgba(255, 255, 255, 0.13); /* Fallback color */
    margin-bottom: 20vh;
}

.navbar, img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    height: 100px;
    align-items: center;
    flex-shrink: 0;
}

.navbar-links, ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-links, li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
}

li, a {
    font-family: Crimson Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000000;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
}

.Aanmelden, .Login {
    padding: 50px;
    width: 600px;
    height: 500px;
    background: rgba(255, 255, 255, 0.13); /* Fallback color */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    color: #000;
    font-family: Crimson Text;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Aanmelden_form {
    display: flex;
    width: 539px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.51); /* Fallback color */
    justify-content: center;
}

.Aanmelden_form, form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 10px;
    color: #000;
    font-family: Crimson Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

form label {
    font-size: 20px;
}

form input {
    width: 135px;
    height: 25px;
    border-radius: 5px;
}

.Button {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.Button input {
    width: 85px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 12px;
    margin-right: 10px;
    color: #FFF;
    text-align: center;
    font-family: Crimson Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button input:hover {

}

.Homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 5vh;
}

.klachten, .complimenten {
    padding: 50px;
    width: 700px;
    height: 300px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.51); /* Fallback color */
    background: rgba(255, 255, 255, 0.51); /* Black background with 0.5 opacity */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #000;
    font-family: Crimson Text;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-direction: column;
}

.complimenten-Button, .klachten-Button {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.compliment-text, .klachten-text {
    padding-top: 20px;
    font-size: 20px;
    width: 400px;
    color: #404B4F;
}

.complimenten-Button:hover, .klachten-Button:hover {
    height: 200px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.51); /* Fallback color */
    margin-bottom: 20vh;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 500px;
    gap: 15px;
}

form label {
    font-size: 40px;
}

form input {
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: inherit;
}

input[type="submit"] {
    width: fit-content;
    height: fit-content;
    background-color: #404B4F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
}



