* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/cityscape-5057263_1280.png");
    background-repeat: repeat;
}

/* Header Styles */
header {
    width: 100%;
    background: rgba(255, 255, 255, 0.13);
    margin-bottom: 20vh;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 24px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards, fadeOut 1s ease-in-out 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* Navbar Styles */
.navbar, img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    height: 100px;
    align-items: center;
    flex-shrink: 0;
}

.navbar-links, ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-links, li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
}

li, a {
    font-family: Crimson Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000000;
}

/* Container Styles */
.container, .Homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
}

/* Form Styles */
.form-container, .Aanmelden, .Login, .klachten, .complimenten {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #000;
    font-family: Crimson Text;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.form-container {
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.13);
    flex-direction: column;
}

.Aanmelden, .Login, .klachten, .complimenten {
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.51);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 35px;
}

.Aanmelden_form, .form-container, form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

form label {
    font-size: 40px;
    color: #333333;
}

form input {
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: inherit;
}

input[type="submit"] {
    width: fit-content;
    height: fit-content;
    background-color: #C93675;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Homepage Container Styles */
.Homepage-container {
    height: 5vh;
}

/* Klachten en Complimenten Styles */
.klachten, .complimenten {
    width: 700px;
    height: 300px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.51);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.complimenten-Button, .klachten-Button {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.compliment-text, .klachten-text {
    padding-top: 20px;
    font-size: 20px;
    width: 400px;
    color: #404B4F;
}

.complimenten-Button:hover, .klachten-Button:hover {
    height: 200px;
}
